<div class="container">
  <div class="row">
    <div class="col s12 m12">
	    <h1 class="header">About</h1>
	    <a href="http://www.marciopassos.com/home/wp-content/uploads/2015/02/avatar-e1424550197483.jpg">
	    	<img class="alignleft wp-image-71 size-thumbnail" src="http://www.marciopassos.com/home/wp-content/uploads/2015/02/avatar-150x150.jpg" alt="avatar" width="150" height="150" />
	    </a>
	    <p>
	    	I like to build Web Applications, not just Websites. I like to work with JS and API. Oh, I also love WordPress and I am a fan of CodeIgniter. Lately I"ve been coding PHP and JavaScript (using EmberJS) mostly, but I also like any other *free* programming language for the web.
	    </p>
	    <p>
	    	Im an advanced intermediate web developer with server-side background I got from my years working as a support consultant for various jobs/gigs here in Brazil. I hold a Microsoft Certified Professional certificate for TCP/IP networking.
	    </p>
	    <p>
	    	I"m also a Human-Computer Interaction researcher with 2 published papers and remote collaboration work experience. I work with the LiNE / USP (Laboratory for Informatics and Education @ University Of São Paulo).
	    </p>
    </div>
  </div>
</div>
{{outlet}}