<div class="container">
  <div class="row">
    <div class="col s12 m12">
	    <h1 class="header">Howdy!</h1>
	    <p>
	    	I'm a <strong>full-stack web developer</strong> based in Belém, the largest city in the Brazilian amazon rain forest. Lately I've been working with EmberJS, Cordova, Electron, PHP/Code Igniter, WordPress and API development. I am also a researcher on Human-Computer Interaction and Informatics in Education with two published papers about an application I developed for teaching the basics of Computer Prograaming to low income public school children in Brazil. 
	    </p>
	    <p>
	    	This is an Ember Application hosted in Firebase and it's published as a free open source project at github, check this <a href="https://github.com/mlpassos/personal-portfolio-app" target="_blank">link</a> for your own copy. Be advised, it's a work-in-progress started earlier this week.
	    </p>
    </div>
  </div>
</div>